Source: till-boot-config
Section: unknown
Priority: optional
Maintainer: Stephen Early <steve@assorted.org.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: till-boot-config
Architecture: all
Depends: python3 (>=3.8), python3-tomli, python3-jinja2, tftpd-hpa, nfs-kernel-server, ${misc:Depends}
Recommends: till-boot-loaders
Suggests: till-boot-pc-amd64, till-boot-rpi-arm64
Description: Configuration script for network booted tills
 Script that builds configuration files for network booted tills
